{{#if user}}
    <h2>My flights</h2>
        {{#if myFlights}}
        <table>
            <tr>
                <th>Flight Number</th>
                <th>Departure Airport</th>
                <th>Destination Airport</th>
                <th>Date</th>    
            </tr>
        {{#each myFlights as |f|}}
            <tr>
                <td>{{f.flight_num}}</td>
                <td>{{f.departure_airport}}</td>
                <td>{{f.arrival_airport}}</td>
                <td>{{f.departure_time}}</td>
            </tr>
        {{/each}}
    {{else}}
        <p style="color:red;">You don't have any flights.</p>
    {{/if}}
    {{!-- view my spending if user is customer --}}

    {{!-- view my commission if user is agent --}}
    {{!-- view Top Customers if user is agent --}}

    {{!-- view Top 5 booking agents if user is staff --}}
    {{!-- view frequent customers if user is staff --}}
    {{!-- view reports if user is staff --}}
    {{!-- view Comparison of Revenue earned if user is staff --}}
    {{!-- view Top destinations if user is staff --}}
{{else}}
    <a href="/login">Login</a> now.
{{/if}}