<h2>View Flights Operated by My Airline</h2>
<form action="/myinfo" method="GET" style="display: flex;flex-flow: row;justify-content: center;align-items: center;">
    <label>Departure: </label>
    <input name="departure" type="text" style="margin:10px;">
    <label>Destination: </label>
    <input name="destination" type="text" style="margin:10px;">
    <label>From</label>
    <input type="date" name="from" style="margin:10px;">
    <label>To</label>
    <input type="date" name="to" style="margin:10px;">
    <input class="btn btn-outline-success" style="margin-top: 5px;" type="submit" value="Search">
</form>
{{#if myflights}}
     <table class="table table-striped diytable">
        <tr>
            <th scope="col">Airline</th>
            <th scope="col">Flight Number</th>
            <th scope="col">Departure Airport</th>
            <th scope="col">Destination Airport</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
        </tr>
        {{#each myflights as |f|}}
            <tr>
                <td scope="row">{{f.airline_name}}</td>
                <td>{{f.flight_num}}</td>
                <td>{{f.departure_airport}}</td>
                <td>{{f.arrival_airport}}</td>
                <td>{{f.departure_time}}</td>
                <td>{{f.status}}</td>
            </tr>
        {{/each}}
    </table>
{{/if}}

<h2>Booking Agent Info</h2>
<p style="color:green">Top 5 Booking Agents Based on Number of Tickets sales Last Month</p>
{{#each topAgentsByTicketLastMonth as |a|}}
    <p>{{a.email}}</p>
{{/each}}


<p style="color:green">Top 5 Booking Agents Based on Number of Tickets sales for the Past Year</p>
{{#each topAgentsByTicketPastYear as |a|}}
    <p>{{a.email}}</p>
{{/each}}
<p style="color:green">Top 5 Booking Agents Based on Commission Received for the Past Year</p>
{{#each topAgentsByCommissionPastYear as |a|}}
    <p>{{a.email}}</p>
{{/each}}

<h2>Most Frequent Consumers</h2>
{{#each frequentConsumers as |c|}}
    <p>{{c.customer}} has bought {{c.num}} tickets.</p>
{{/each}}

<div class="month-chart">
    <canvas id="pieChartLastYear"></canvas>
    <canvas id="pieChartLastMonth"></canvas>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js'></script>
<script>
    new Chart(document.getElementById("pieChartLastYear").getContext('2d'), {
        type: 'pie',
        data: {
            labels: ['Direct', 'Agent'],
            datasets: [{
                data: [{{lastYearInput}}],
            }]
        },
        options: {
            responsive: true
        }
    });
    new Chart(document.getElementById("pieChartLastMonth").getContext('2d'), {
        type: 'pie',
        data: {
            labels: ['Direct', 'Agent'],
            datasets: [{
                data: [{{lastMonthInput}}],
            }]
        },
        options: {
            responsive: true
        }
    });
</script>
