<h2>View Purchased Flights</h2>
{{#if myflights}}
     <table class="table table-striped diytable">
        <tr>
            <th scope="col">Airline</th>
            <th scope="col">Flight Number</th>
            <th scope="col">Departure Airport</th>
            <th scope="col">Destination Airport</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            
        </tr>
        {{#each myflights as |f|}}
            <tr>
                <td scope="row">{{f.airline_name}}</td>
                <td>{{f.flight_num}}</td>
                <td>{{f.departure_airport}}</td>
                <td>{{f.arrival_airport}}</td>
                <td>{{f.departure_time}}</td>
                <td>{{f.status}}</td>
                
            </tr>
        {{/each}}
    </table>
{{/if}}

<h2>Commission Information</h2>
<form action="/myinfo" method="GET" style="display: flex;flex-flow: row;justify-content: center;align-items: center;">
    From<input type="date" name="from" style="margin:10px;">
    To<input type="date" name="to" style="margin:10px;">
    <input type="submit" class="btn btn-success btn-sm" value="Submit" style="margin-left: 10px;">
</form>
<p>Total amount of commission: {{commission.total}}</p>
<p>Average commission: {{commission.average}}</p>
<p>Number of tickets: {{commission.num}}</p>

<h2>Top 5 Customers</h2>
<div class="month-chart">
    <canvas id="barChart"></canvas>
    <canvas id="barChart2"></canvas>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js'></script>
<script>
    new Chart(document.getElementById("barChart").getContext('2d'), {
    type: 'bar',
    data: {
        labels: '{{customerEmails1}}'.split(','),
        datasets: [{
            label: 'Number of tickets purchased',
            data: [{{numOfTickets}}],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                beginAtZero: true
                }
            }]
        }
    }
    });
    new Chart(document.getElementById("barChart2").getContext('2d'), {
    type: 'bar',
    data: {
        labels: '{{customerEmails2}}'.split(','),
        datasets: [{
            label: 'Amount of commission',
            data: [{{customerCommission}}],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                beginAtZero: true
                }
            }]
        }
    }
    });
</script>
